.config/tmux/plugins
.config/nvim/lazy-lock.json
.config/karabiner/automatic_backups
.local/share
.local/state
**/.DS_Store
.config/zed/.tmp*
.config/zed/embeddings/semantic-index-db.0.mdb
.config/zed/prompts
tmux/.config/tmux/plugins/tmux-continuum/
tmux/.config/tmux/plugins/tmux-fzf-url/
tmux/.config/tmux/plugins/tmux-fzf/
tmux/.config/tmux/plugins/tmux-resurrect/
tmux/.config/tmux/plugins/tmux-sensible/
tmux/.config/tmux/plugins/tmux-sessionx/
tmux/.config/tmux/plugins/tmux-thumbs/
tmux/.config/tmux/plugins/tmux-yank/
tmux/.config/tmux/plugins/tmux/
tmux/.config/tmux/plugins/tpm/
tmux/.config/tmux/plugins/vim-tmux-navigator/
nvim/.config/nvim/lazy-lock.json
